<div class="container" id="nav-arrow">
        <div class="nav-wrapper">
            <div class="site-title">
                <div class="title"><a href="{{'/' | url}}">[{{ meta.siteName }}]</a></div>
            </div>
        </div>
        <div class="menu-wrapper">
            {% include 'menu.njk' %}
        </div>
</div>


