{% include 'head.njk' %}
{% include 'header.njk' %}
    {# using block allows for a modifield content block in other layouts see projects for example #}
    <div class="container">
        {% block content %} 
            {{ content | safe }}
        {% endblock %}
    </div>
{% include 'footer.njk' %}